/* components/CaseCard.css */
.caseCard {
  background-color: #2a2d3e;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 200px;
   margin: 0 auto; 
}

.caseCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.caseImageWrapper {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.caseCardImage {
  width: 230px;
  max-height: 100%;
  object-fit: contain;
}

.caseCardName {
  color: #E0E0E0;
  font-size: 16px;
  margin-bottom: 5px;
}

.caseCardPrice {
  color: #00BFFF;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.caseCardButton {
  background: linear-gradient(90deg, #A044FF 0%, #FF6B6B 100%);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.caseCardButton:hover {
  opacity: 0.9;
}